@font-face {
   font-family: "OpenSans";
   src: url("../fonts/OpenSans/OpenSans-Regular.eot");
   src: url("../fonts/OpenSans/OpenSans-Regular.eot?#iefix") format("embedded-opentype"),
      url("../fonts/OpenSans/OpenSans-Regular.woff") format("woff"),
      url("../fonts/OpenSans/OpenSans-Regular.woff2") format("woff2");
   font-style: normal;
   font-weight: 400;
}

@font-face {
   font-family: "OpenSans-Bold";
   src: url("../fonts/OpenSans/OpenSans-Bold.eot");
   src: url("../fonts/OpenSans/OpenSans-Bold.eot?#iefix") format("embedded-opentype"),
      url("../fonts/OpenSans/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.woff2") format("woff2");
   font-style: normal;
   font-weight: 700;
}
